@import '../_animations.scss';

.loadingScreen {
    margin-top: 4em;
    z-index: 1;
    opacity: 1;
}

.goatAnimation {
    position: absolute;
    z-index: -1;
    animation: grow 4s ease-in-out infinite;
}

.carAnimation {
    position: absolute;
    z-index: -2;
    left: 15%;
    animation: grow 5s ease-in-out alternate-reverse infinite;
}